.header__logo {
    margin: 0;
    padding: 0;
    max-width: 142px;
    object-fit: cover;
}

@media screen and (max-width: 920px) {
    .header__logo {
        margin-left: 27px;
    }
}

@media screen and (max-width: 680px) {
    .header__logo {
        max-width: 104px;
    }
}