.page {
    margin: 0;
    padding: 45px 0 60px 0;
    background-color: #000000;
    color: #FFFFFF;
    -moz-osx-font-smoothing: grayscale;
    -webkit-font-smoothing: antialiased;
    -webkit-text-size-adjust: 100%;
    -ms-text-size-adjust: 100%;
    -moz-text-size-adjust: 100%;
    text-rendering: optimizeLegibility;
    font-family: 'Inter', Arial, sans-serif;
    font-style: normal;
}

@media screen and (max-width: 680px) {
    .page {
        padding-top: 28px;
        padding-bottom: 36px;
    }
}