.form__input-error{
    display: block;
    max-width: 358px;
    min-height: 30px;
    padding: 0;
    margin: 1px 0 0px 0;
    font-weight: 400;
    font-size: 12px;
    line-height: 15px;
    color: #FF0000;
    opacity: 0;
}

@media screen and (max-width: 680px) {
    .form__input-error {
        width: 238px;
    }
}