.profile__subname-profile {
    padding: 0;
    margin: 0;
    font-weight: 400;
    font-size: 18px;
    line-height: 22px;
    text-overflow: ellipsis;
    white-space: nowrap;
    overflow: hidden;
    max-width: 500px;
}

@media screen and (max-width: 680px) {
    .profile__subname-profile {
        font-size: 14px;
        line-height: 17px;
        margin-top: 7px;
        margin-left: 28px;
    }
}