.pop-up__user-input {
    display: block;
    padding: 0 0 9px 0;
    margin: 0px 0px 0px;
    width: 358px;
    font-weight: 400;
    font-size: 14px;
    line-height: 17px;
    border: none;
    border-bottom: 1px solid rgba(0, 0, 0, 0.2);
    outline: none;
}

@media screen and (max-width: 680px) {
    .pop-up__user-input {
        width: 238px;
    }
}